<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <!--    <link th:href="@{/css/userhome.css}" href="/css/userhome.css" rel="stylesheet" type="text/css" />-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div th:replace="fragments/after-login :: afternavbar"></div>
<div class="container mt-4 mb-4">
    <div class="row justify-content-md-center">
        <form class="col-md-12 col-lg-8" method="POST" action="/admin/question/create" th:object="${question}">
            <h1 class="h2 mb-5 text-center"><b>Add Question</b></h1>
            <div th:if="${session.message}"  th:classappend="${session.message.type}" class="alert" role="alert">
                <p th:text="${session.message.content}"></p>
                <th:block th:text="${#session.removeAttribute('message')}"></th:block>
            </div>
            <div class="form-group">
                <label>Title</label>
                <input name="questionName" type="text" class="form-control" id="name" placeholder="Title">
            </div>

            <div class="form-group">
                <label>Description</label><br>
                <label for="description"></label><textarea name="description" style="height:100%;width:100%;" id="description"></textarea>
            </div>
<!--            <div class="form-group form-check">-->
<!--                <input type="checkbox" class="form-check-input" id="easy">-->
<!--                <label class="form-check-label" name="difficulty" th:value="easy" for="easy"><span style="color:blue;">-->
<!--                        Easy</span></label>-->
<!--                <br>-->
<!--                <input type="checkbox" class="form-check-input" id="medium">-->
<!--                <label class="form-check-label" name="difficulty" th:value="medium" for="medium"><span style="color:green;">Medium</span></label>-->
<!--                <br>-->
<!--                <input type="checkbox" class="form-check-input" id="hard">-->
<!--                <label class="form-check-label" name="difficulty" th:vaule="hard"><span style="color:red;">Hard</span></label>-->
<!--            </div>-->
            <div class="form-group">
                <label>Difficulty</label>
                <input name="difficulty" type="text" class="form-control"  placeholder="Difficulty">
            </div>


            <div class="form-group">
                <label>Example</label><br>
                <textarea name="example" style="height:100%;width:100%;" id="example"></textarea>
            </div>

            <hr>

            <div class="text-center">
                <button type="submit" class="btn btn-info">Post</button>
            </div>
        </form>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>