<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body style="background-color:#b0b0b6">
<div th:replace="fragments/after-login :: afternavbar"></div>
<div  class="container bg-white mt-10" >
<!--    <div clas></div>-->
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">#Id</th>
            <th scope="col">Name</th>
            <th scope="col">Difficulty</th>
            <th scope="col">PostedBy</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="q : ${question}">
            <th scope="row" ><span class="font-weight-bold" th:text="${q.questionId}"></span></th>
            <td ><span class="font-weight-bold" th:text="${q.questionName}"></span></td>
            <td th:text="${q.difficulty}"></td>
            <td th:text="${q.postedBy}"></td>
            <td>
                <a href="" th:href="@{'/user/view/'+${q.questionId}}" class="btn btn-info mr-2">View</a>
            </td>
        </tr>
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li th:if="${currentPage>0}" class="page-item"><a th:href="@{'/user/practice/'+${currentPage-1}}" class="page-link" href="#">Previous</a></li>
            <li th:classappend="${currentPage==i-1?'active':''}" th:each="i:${#numbers.sequence(1,totalPages)}" class="page-item"><a th:href="@{'/user/practice/'+${i-1}}" class="page-link" href="#"><span th:text="${i}"></span></a></li>
            <li th:if="${currentPage<totalPages-1}" class="page-item"><a th:href="@{'/user/practice/'+${currentPage+1}}" class="page-link" href="#">Next</a></li>
        </ul>
    </nav>

</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>